@model NewPokemon.Models.PokemonModel

<h1>@Model.name</h1>

<partial name = "_view" model = "@Model"/>

<a asp-asp-controller = "Pokemon" asp-action = "Index">
    <button class="btn btn-outline-light" id="btnColor">Return</button>
</a>

@* FIXME - image files not showing up when referenced*@
@* @if(@Model.id == 1)
{
    <img src = "./shellder.png" alt="shellder" id="shellder">
}
else if(@Model.id == 2)
{
    <p><img src = "./Rowlet.png" alt="rowlet" id="rowlet"></p>
}
else if(@Model.id == 3)
{
    <p><img src = "./Scyther.png" alt="scyther" id="scyther"></p>
}
else if(@Model.id == 4)
{
    <p><img src = "./Zapdos.png" alt="Zapdos" id="Zapdos"></p>
}
else if(@Model.id == 5)
{
    <p><img src = "./Sandshrew.png" alt="sandshrew" id="Sandshrew"></p>
}
else if(@Model.id == 6)
{
    <p><img src = "./Noctowl.png" alt="noctowl" id="Noctowl"></p>
} *@